.title{
    color: orange;
}

.description-one{
    background-color: lightgray;
}

.description-two{
    background-color: #b8ffcf;
}

.description-three{
    background-color: rgb(205, 157, 211);
}

