h1 {
    color: red;
    font-size: 24px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
}

th {
    background-color: black;
    color: white;
}

tr {
    background-color: crimson;
    color: white;
}

ul {
    list-style: upper-roman outside none;
}

img {
    border-radius: 10%;
}