#main-title{
    color: orange;
}

#section-one{
    background-color: aquamarine;
}

#section-two{
    background-color: rgb(61, 122, 255);
}

#section-three{
    background-color: rgb(200, 0, 255);
}
