h1{
    color: red;
    font-size: 48px;
}

p{
    color: rgb(155, 131, 165);
}

em{
    background-color: #FCDEB4;
    font-style: normal;
}

a{
    color: orange;
    text-decoration: none;
}

ul{
    background-color: #ffce89;
    border: 2px solid darkgray;
    border-radius: 8px;
}